
*{
    margin: 0;
    padding: 0;
}

.mybox{
    font-size: 15px;
}
.mybox p{
    /* 부모요소의 크기의 곱하기몇em */
    font-size: 5em;
}
p span{
    /* em은 부모요소에따라 바뀐다 */
    font-size: 0.5em;
}
.mybox h4{
    /* rem(곱하기몇)은 최상위기준으로 바뀐다 */
    font-size: 3rem;
}
.box{
    width: 1em;
    height: 100px;
    background-color: yellow;
    border: 1rem solid red;
}



section{
    border: 10px solid red;
    width: 1000px;
    max-width:100%
}
.box2{
    /* vw(가로)는 전체화면의 몇프로인지(엄마요소랑 상관없다) */
    /* %는  엄마요소의 몇프로인지(엄마요소랑 상관있다) */
    width: 50vw;
    height: 200px;
    background-color: green;
}

.box3{
    width: 40vw;
    height: 40vw;
    background-color: pink;
    font-size: 10vw;
}

.greenbox{
    width: 100vw;
    /* vh(세로)는 전체화면의 몇프로인지(엄마요소랑 상관없다) */
    height: 100vh;
    
    font-size: 4rem;

    background-image:url('../img/grid2.jpg');
    background-position: center;
    background-size: cover;

    /* 글자위치 */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:640px){
    .greenbox{
        width: 100vw;
        height: 70vh;
    }

}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    width: 300px;
    height: 50px;
}
.menu>div{
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu>div:hover {
    background-color: pink;
}

