*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.menu{
    width: 90%;
    margin: 0 auto;
}
.menu>li{
    position: relative;
}
.submenu{
    position: absolute;
    top: 0;
    left: 100%;
    width: 180px;
}
.bigmenu{
    display: block;
}

.box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
}

.tabtitile>a{
    display: inline-block;
    padding: 5px 10px;
}
